* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

leaflet-map:not([ready]) {
  opacity: 0;
  overflow: hidden;
}

.container {
  position: relative;

  @media @mobile {
    border-top: 1px solid @df-light-gray;
    border-bottom: 1px solid @df-light-gray;
  }

  &::before {
    display: block;
    content: "";
    padding-bottom: percentage(3 / 4);

    @media @mobile {
      padding-bottom: percentage(4 / 3);
    }
  }

  .interactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.interactive {
  .display-flex;

  .tabs {
    display: none;
    font-family: @df-sans;

    @media @mobile {
      .display-flex;
      .flex(0 0 30px);
    }
  }

  @media @mobile {
    height: 400px;
    .flex-direction(column);
  }

  leaflet-map {
    .flex(1);
    z-index: 99;

    @media @mobile {
      display: none;

      .map& {
        display: block;
      }
    }
  }

  .stream {
    .flex(1);
    z-index: 99;

    @media @tablet {
      .flex(2);
    }

    @media @mobile {
      display: none;

      .stream& {
        display: block;
      }
    }
  }
}

.tabs {

  .tab {
    .flex(1);
    text-align: center;
    cursor: pointer;
    background: @df-light-gray;
    text-transform: uppercase;
    font-size: 16px;
    color: @df-middle-gray;
    .display-flex;
    .flex-direction(column);
    .justify-content(center);

    &.selected {
      background: white;
      color: @df-off-black;
      z-index: 9;
      box-shadow: 0 0 10px rgba(0,0,0,.2)
    }
  }

}

ul.stream {
  list-style-type: none;
  overflow: auto;
  padding: 0;
  margin: 0;

  .tweet {
    background: @df-off-white;
    padding: 10px;
    border: 1px solid @df-border-gray;
    border-bottom: none;

    .text {
      font-size: 14px;
    }
  }
}

ul.stream .tweet,
leaflet-map .tweet {
  .media-box {
    .display-flex();
    .justify-content(center);
    .align-items(center);
    .flex-wrap(wrap);

    .media {
      .flex(1 1 0%);
      text-align: center;
    }

    img {
      // width: 100%;
      display: block;
      margin: auto;
      max-height: 300px;
    }

    .inline-video {
      .flex(0 0 100%);
      text-align: center;
      font-size: 14px;

      video {
        width: 100%;
      }
    }
  }
}

leaflet-map {
  .tweet-marker {
    @size: 12px;
    width: @size;
    height: @size;
    margin-top: -@size / 2;
    margin-left: -@size / 2;
    border-radius: 100%;
    background: black;
    opacity: .7;

    &.recent {
      background: darken(@st-dark-red, 15%);
      opacity: 1;
      z-index: 99999 !important;
    }

    &.young {
      background: desaturate(@st-dark-red, 10%);
      opacity: 1;
      z-index: 9999 !important;
    }

    &.old {
      background: desaturate(@st-dark-red, 20%);
      opacity: .9;
      z-index: 999 !important;
    }

    &.older {
      background: desaturate(@st-dark-red, 30%);
      opacity: .8;
      z-index: 99 !important;
    }

    &.oldest {
      background: @twitter-gray;
      opacity: .7;
      z-index: 9 !important;
    }

    &.ancient {
      background: @twitter-gray;
      opacity: .4;
    }

    &.video {
      text-align: center;
      // z-index: 999 !important;
      line-height: @size;

      &.recent {
        background: @df-blue;
        z-index: 100000 !important;
      }

      &.young {
        background: lighten(desaturate(@df-blue, 50%), 5%);
        z-index: 10000 !important;
      }

      &.old {
        background: lighten(desaturate(@df-blue, 50%), 20%);
        z-index: 1000 !important;
      }

      &.older {
        background: lighten(desaturate(@df-blue, 50%), 30%);
        z-index: 100 !important;
      }
    }

    &:hover, &.focused {
      z-index: 999 !important;
      opacity: 1 !important;
    }
  }

  .tweet {
    width: 300px;
    img {
      max-width: 100% !important;
    }

    .follow {
      display: none;
    }

    .jump {
      display: none;
    }

    @media @mobile {
      .embedded {
        max-height: 100px;
        margin: auto;
        display: block;
      }
    }
  }
}

.map-key {
  position: absolute;
  padding: 8px;
  bottom: 8px;
  left: 8px;
  background: @df-off-white;
  color: @df-dark-gray;
  border-radius: 8px;
  z-index: 999;
  font-size: 12px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .6);
  font-family: @df-sans;

  @media @tablet {
    display: none;
  }

  .dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: darken(@st-dark-red, 15%);
    border-radius: 100%;
    margin-right: 8px;
    vertical-align: text-top;

    &.video {
      background: @df-blue;
    }
  }
}

.tweet {
  overflow: hidden;
  font-family: @df-sans;
  font-size: 14px;

  .shy {
    display: inline-block;
    width: 0;
    color: transparent;
  }

  a {

    &:hover {
      text-decoration: underline;
    }
  }

  .avatar {
    float: left;
    margin-right: 8px;
    border-radius: 5px;
  }

  .name {
    color: @df-off-black;
    font-family: @df-serif;
    font-size: 16px;
  }

  .timestamp {
    display: block;
    font-size: 12px;
    color: @twitter-gray;
  }

  .follow {
    display: inline-block;
    background: @twitter-gray;
    transition: background 0.2s linear;
    color: @df-off-white;
    font-size: 12px;
    font-family: @df-sans;
    text-transform: uppercase;
    padding: 4px;
    float: right;
    border-radius: 4px;

    &:hover {
      background: @df-blue;
      color: @df-off-white;
      text-decoration: none;
    }
  }

  .jump {
    display: block;
    background: white;
    border: 1px solid @twitter-gray;
    color: @twitter-gray;
    cursor: pointer;
    padding: 4px;
    float: right;
    clear: right;
    border-radius: 4px;
    margin-left: 8px;

    .icon {
      display: block;
    }
  }

  .text {
    margin-bottom: 2px;

    a:hover {
      color: @df-blue;
    }
  }

  .hashtags {
    font-size: 12px;
    margin-bottom: 2px;

    a {
      color: @twitter-gray;
    }
  }

}