<%
//change now to change how we shade markers
var now = Date.now();
%><!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <main class="interactive stream">
        <div class="tabs">
          <div class="tab" data-tab="map">
            Map
          </div>
          <div class="tab selected" data-tab="stream">
            Stream
          </div>
        </div>
        <leaflet-map zoom=14 lat="47.610387" lng="-122.329158">
          <map-options>
{
  "scrollWheelZoom": false
}
          </map-options>
          <tile-layer layer="cartoPositron"></tile-layer>
          <% json.tweets.forEach(function(tweet) {
            if (!tweet.latlng || !tweet.latlng.length) return;
            var age = global.helpers.ages(tweet.timestamp, now);
            var tags = tweet.tags.join(" ").toLowerCase();
          %>
          <map-marker class="tweet-marker <%= age %> <%= tags %>" lat="<%= tweet.latlng[0] %>" lng="<%= tweet.latlng[1] %>">
            <%= t.include("_tweet.html", { data: tweet }) %>
          </map-marker>
          <% }); %>
        </leaflet-map>
        <div class="map-key">
          <div>
            <span class="recent dot"></span> Newest updates
          </div>
          <div>
            <span class="video dot"></span> Newest videos
          </div>
        </div>
        <ul class="stream">
          <% json.tweets.forEach(function(tweet) { %>
          <li> <%= t.include("_tweet.html", { data: tweet }) %>
          <% }) %>
        </ul>
      </main>
    </responsive-child>

    <script>
var config = <%= JSON.stringify({
  time: json.tweets.length ? json.tweets[0].timestamp : 0
}, null, 2) %>;
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
