<%
//change now to change how we shade markers
var now = Date.now();
%><!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <leaflet-map zoom=15 lat="47.6106" lng="-122.33179">
          <tile-layer layer="cartoPositron"></tile-layer>
          <% json.tweets.forEach(function(tweet) {
            if (!tweet.latlng || !tweet.latlng.length) return;
            var age = global.helpers.ages(tweet.timestamp, now);
          %>
          <map-marker class="tweet-marker <%= age %>" lat="<%= tweet.latlng[0] %>" lng="<%= tweet.latlng[1] %>">
            <%= t.include("_tweet.html", { data: tweet }) %>
          </map-marker>
          <% }); %>
        </leaflet-map>
        <ul class="stream">
          <% json.tweets.forEach(function(tweet) { %>
          <li> <%= t.include("_tweet.html", { data: tweet }) %>
          <% }) %>
        </ul>
      </main>
    </responsive-child>

    <script>
var config = <%= JSON.stringify({
  time: json.tweets.length ? json.tweets[0].timestamp : 0
}, null, 2) %>;
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
